<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- MinaSessionInit -->
	<bean id="minaSessionInit" class="com.jy.slave.init.MinaSessionInit" autowire="byName" init-method="init"/>
	
    <!-- init dict -->
	<bean id="dictionaryInit" class="com.jy.slave.init.DictionaryInit" autowire="byName" init-method="init"/>
	
	
	<bean id="slaveService" class="com.jy.slave.service.impl.SlaveServiceImpl" autowire="byName" />
	<bean id="jyAccessService" class="com.jy.slave.service.impl.JyAccessServiceImpl" autowire="byName" />
	
	<!-- push config service -->
	<bean id="pushConfigService" class="com.jy.push.service.PushConfigService" autowire="byName">
		<property name="pushPort" value="${push.config.jy.pushPort}" />
		<property name="heartbeat" value="${push.config.jy.heartbeat}" />
	</bean>
	
	<bean id="sessionManager" class="com.jy.push.mina.session.SessionManager" autowire="byName"></bean>
	<bean id="pushServerHandler" class="com.jy.push.mina.handler.impl.PushServerHandlerImpl" autowire="byName"></bean>
	<bean class="com.jy.push.service.PushServer" autowire="byName" init-method="init" />
	
	<!-- ifc service -->
	<bean id="ifcService" class="com.jy.slave.service.impl.IfcServiceImpl" autowire="byName"></bean>
	
	<!-- config service -->
	<bean id="configService" class="com.jy.slave.service.ConfigService" autowire="byName">
		<property name="ifcUrl" value="${config.service.ifcUrl}" />
	</bean>
	
</beans>

