<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- app -->
	<bean id="ifc_100101" class="com.jy.master.ifc.service.app.RegisterSessionService" autowire="byName"></bean>
	
	<!-- slave -->
	<bean id="ifc_200101" class="com.jy.master.ifc.service.slave.RegisterSlaveService" autowire="byName"></bean>
	
	<!-- pc -->
	<bean id="ifc_300101" class="com.jy.master.ifc.service.pc.SendMessageService" autowire="byName"></bean>
	<bean id="ifc_300102" class="com.jy.master.ifc.service.pc.OnLineMinaSessionService" autowire="byName"></bean>
	
	
</beans>

