<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="dictionaryInit" class="com.jy.master.init.DictionaryInit" autowire="byName" init-method="init" />
	
	<bean id="masterService" class="com.jy.master.service.impl.MasterServiceImpl" autowire="byName"></bean>
	
	<!-- 接口 -->
	<bean id="ifcService" class="com.jy.master.service.impl.IfcServiceImpl" autowire="byName"></bean>
	<bean id="onLineMinaSessionService" class="com.jy.master.ifc.service.pc.OnLineMinaSessionService" autowire="byName"></bean>
	
</beans>

